@font-face
	font-family Geometria-ExtaBold
	src url(../font/Geometria-ExtaBold.otf)

@font-face
	font-family Geometria-Bold
	src url(../font/Geometria-bold.otf)

body
	font-family: Geometria-Bold
	color: #fff
	background: gray
	font-size: 12px


a:active
a:hover
a:link
a:visited
	color: #fff

.container
	max-width 1280px
	margin 0 auto

.main
	position: relative